:root {
    --black: #000000;
    --green1: #1E5128;
    --green2: #4E9F3D;
    --green3: #D8E9A8;
    --facebook: #3b5999;
    --instagram: #e4405f;
    --twitter: #55acee;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--green3);
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
}


/**Boton ir arriba**/

.ir-arriba {
    position: fixed;
    bottom: 100px;
    right: 0;
    width: 50px;
    height: 50px;
    border: 2px solid var(--green2);
    background: var(--green2);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 400ms;
}

.ir-arriba:hover {
    background: var(--green1);
}

.ir-arriba:hover span {
    color: var(--green3);
}

.ir-arriba>span {
    font-size: 25px;
    color: var(--black);
}


/**Boton ir arriba**/


/** menu de navegacion **/

#header {
    position: relative;
    width: 100%;
    display: grid;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "logo-box list-container list-container" "logo-box list-container list-container" ". . .";
    grid-area: 1 / 1 / 3 / 7;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: var(--green2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
}

.menu .logo-box {
    margin-left: 20px;
    grid-area: logo-box;
}

.menu .logo-box h1 a {
    text-decoration: none;
    font-size: 35px;
    font-weight: 400;
    color: white;
    /**elegir letra blanca o negra**/
}

.menu .list-container {
    margin-right: 20px;
    grid-area: list-container;
}

.menu .list-container .lists {
    display: flex;
}

.menu .list-container .lists li {
    list-style: none;
}

.menu .list-container .lists li a {
    text-decoration: none;
    margin: 0px 10px;
    padding: 8px;
    color: var(--black);
    border-radius: 24px;
    font-size: 16px;
    transition: 0.3s;
}

.menu .list-container .lists li a.activo {
    background: var(--green1);
    color: #ffffff;
}

.menu .list-container .lists li a:hover {
    background: var(--green1);
    color: #ffffff;
}

.btn-menu>.fa-bars {
    display: none;
}


/** menu de navegacion**/


/**IMG HEADER **/

.imagenes-header {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../imagenes/header.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "inicio inicio inicio" "inicio inicio inicio" "inicio inicio inicio";
    grid-area: 2 / 1 / 3 / 7;
}

.imagenes-header .bienvenido {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000099;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.imagenes-header .bienvenido h1 {
    font-size: 50px;
    color: #ffffff;
    font-weight: 200;
}

.imagenes-header .bienvenido hr {
    width: 400px;
    height: 2px;
    background: #ffffff;
    border: none;
    margin-top: 5px;
}

.imagenes-header .bienvenido p {
    font-size: 20px;
    color: #ffffff;
    margin-top: 20px;
}

.imagenes-header .bienvenido>button {
    width: 170px;
    height: 40px;
    background: var(--green2);
    border-radius: 24px;
    border: none;
    outline: none;
    font-size: 22px;
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.imagenes-header .bienvenido>button:hover {
    background: var(--green1);
}


/**IMG HEADER **/


/** acerca de nosotros**/

.acerca-de {
    width: 100%;
    margin-top: 120px;
}

.acerca-de .info-container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.acerca-de .info-container h1 {
    font-size: 50px;
    font-weight: 400;
    color: #000000;
    text-align: center;
    margin-bottom: 20px;
}

.acerca-de .info-container p {
    text-align: center;
    font-size: 17px;
    color: #000000;
    line-height: 35px;
    margin: 10px 0px;
}

.acerca-de .info-container .about-gallery {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 50px 0px;
}

.acerca-de .info-container .about-gallery img {
    width: calc(33.33% - 10px);
    height: 300px;
    object-fit: cover;
    margin: 10px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.acerca-de .info-container .about-more {
    width: 100%;
    display: flex;
    justify-content: center;
}

.acerca-de .info-container .about-more button {
    width: 120px;
    height: 40px;
    background: var(--green2);
    border-radius: 24px;
    border: none;
    outline: none;
    font-size: 22px;
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.acerca-de .info-container .about-more button:hover {
    background: var(--green1);
}


/** acerca de nosotros **/


/** nuestros proyectos **/

.our-projects {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--green1);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin-top: 100px;
}

.our-projects .deg-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0, 9);
}

.our-projects .ejeZproject {
    position: relative;
    width: 100%;
    height: 100%;
}

.our-projects .container-project {
    width: 90%;
    margin: auto;
    padding-top: 100px;
}

.our-projects .container-project .project-title {
    border: 2px solid #ffffff;
    padding: 10px;
    text-align: center;
    width: 50%;
    margin: auto;
}

.our-projects .container-project .project-title h2 {
    font-size: 40px;
    color: #ffffff;
    font-weight: normal;
}

.our-projects .container-project .project-title hr {
    background: #ffffff;
    width: 50%;
    margin: 10px auto;
}

.our-projects .container-project .project-img {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 80px;
    padding-bottom: 100px;
}

.our-projects .container-project .project-img img {
    width: calc(30% - 10px);
    margin: 10px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
}


/**nuestros proyectos**/


/**pedidos**/

.pedidos {
    width: 100%;
    margin-top: 120px;
}

.pedidos .pedidos-title {
    width: 50%;
    margin: auto;
    text-align: center;
}

.pedidos .pedidos-title h2 {
    font-size: 50px;
    color: var(--black);
    font-weight: normal;
    margin-bottom: 10px;
}

.pedidos .pedidos-title hr {
    width: 60%;
    margin: auto;
    height: 2px;
    background: var(--black);
    border: none;
}

.pedidos .box-pedidos {
    width: 90%;
    margin: 80px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.pedidos .box-pedidos .card-pedidos {
    width: 45%;
    margin: 20px;
}

.pedidos .box-pedidos .card-pedidos .card-img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pedidos .box-pedidos .card-pedidos .card-img img {
    width: 150px;
    height: 150px;
    border-radius: 10%;
    object-fit: cover;
    cursor: pointer;
}

.pedidos .box-pedidos .card-pedidos .pedidos-text {
    width: 100%;
    border: 2px solid var(--green1);
    margin-top: 30px;
    padding: 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: 200ms;
}

.pedidos .box-pedidos .card-pedidos .pedidos-text h4 {
    color: var(--green1);
    font-weight: normal;
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
    transition: 200ms;
}

.pedidos .box-pedidos .card-pedidos .pedidos-text p {
    font-size: 19px;
    color: var(--black);
    text-align: center;
    line-height: 35px;
    transition: 200ms;
}

.pedidos .box-pedidos .card-pedidos .pedidos-text:hover {
    border: 2px solid var(--green2);
}

.pedidos .box-pedidos .card-pedidos .pedidos-text:hover h4 {
    color: var(--green2);
}


/**pedidos**/


/**Footer**/

.footer {
    position: relative;
    width: 100%;
    height: 15vh;
    background: var(--green1);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.footer .footer-content {
    width: 90%;
    padding-top: 100px;
    margin: auto;
}

.footer .footer-content .footer-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: rgb(0, 0, 0, 0, 8);
    border-top: 5px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .footer-content .footer-text p {
    color: #ffffff;
    font-size: 20px;
}


/**Footer**/


/**iconos de redes**/

.redes-container {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.redes-container ul li {
    display: inline-block;
    margin: 0 5px;
    width: 50px;
    height: 50px;
    text-align: center;
}

.redes-container ul li a {
    display: block;
    padding: 0 10px;
    background: var(--green1);
    color: #ffffff;
    line-height: 50px;
    font-size: 18px;
    box-shadow: 0px 3px 5px 0px rgb(0, 0, 0, 0 .2);
    transition: .2s;
}

.redes-container ul:hover a {
    filter: blur(2px);
}

.redes-container ul li a:hover {
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0px 5px 5px 0px rgb(0, 0, 0, 0 .4);
    filter: none;
}

.redes-container ul li .facebook:hover {
    background: var(--facebook);
}

.redes-container ul li .instagram:hover {
    background: var(--instagram);
}

.redes-container ul li .twitter:hover {
    background: var(--twitter);
}


/**iconos de redes**/


/**Media Query**/

@media only screen and (max-width:900px) {
    .btn-menu>.fa-bars {
        display: block;
        position: absolute;
        top: 20px;
        right: 30px;
        font-size: 28px;
        cursor: pointer;
    }
    .btn-menu>.fa-bars:hover {
        color: var(--green3);
    }
    .btn-menu>.fa-times {
        color: var(--green1);
    }
    .menu .list-container {
        position: absolute;
        top: 60px;
        left: -100%;
        width: 100%;
        height: calc(100vh - 60px);
        background: var(--green3);
    }
    .menu .list-container .lists {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-top: 5px solid var(--green1);
    }
    .menu .list-container .lists li {
        width: 90%;
        margin: 10px 0px;
        border-bottom: 1px solid var(--green1);
        text-align: center;
    }
    .menu .list-container .lists a {
        font-size: 25px;
    }
    .menu .list-container .lists li a.activo {
        background: none;
        color: var(--green1);
    }
    .menu .list-container .lists li a.hover {
        background: none;
        color: var(--green1);
    }
}